@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.criminalsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.criminal, .witness, .facility {
	flex-basis: 20%;
	border: 1px dotted black;
	margin-right: 50px;
	margin-bottom: 50px;
	padding-left: 1%;
}

.facilityContainer {
	display: none;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.facility {
	background-color: peachpuff;
}

.criminal {
	background-color: palegreen
}

.witnessContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.witness {
	background-color: paleturquoise;
}